form.example-form {
    padding: 0 16px;
}
mat-form-field {
    width: 100%;
}
div.mat-form-field-outline {
    background-color: #fff;
    border-color: #bf5841;
}
mat-option {
    padding: 0 32px;
}
.img-container {
    width: 37px;
    height: 100%;
    position: relative;
    display: inline-block;
    margin-right: 8px;
}
.example-option-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cdk-overlay-pane {
    width: auto;
}
span.mat-option-text {
    display: flex;
    align-items: center;
}