<form class="example-form" *ngIf="options && plantsList">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>¡Busca una planta!</mat-label>
    <input type="text" aria-label="Planta" matInput [formControl]="inputSearch" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async; let index = index" [value]="option">
        <a [routerLink]="['/plant-detail', option]">
          <span class="img-container">
            <img class="example-option-img" aria-hidden [src]="plantsList[index].image" height="25">
          </span>
          <span>{{option}}</span> |
          <small>{{plantsList[index].nameScientific}}</small>
        </a>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>