<mat-grid-list cols={{calculateColumns()}} rowHeight="1:1" gutterSize="8px" *ngIf="plantsListOrigin" cdkDropList
    #showgarden="cdkDropList" [cdkDropListConnectedTo]="[addplant]" (cdkDropListDropped)="drop($event)">
    <mat-grid-tile *ngFor="let numberOfPlant of garden.plantList; let indexOfList = index" cdkDrag>
        <app-plant-item-square-big [plant]="plantsListOrigin[numberOfPlant]" [showDelete]="true"
            [indexOfList]="indexOfList" (outputDelete)="deletePlant($event)" *ngIf="numberOfPlant != null">
        </app-plant-item-square-big>
        <a class="empty" [indexOfList]="indexOfList" *ngIf="numberOfPlant == null" (click)="selectPlant(indexOfList)">
            <mat-icon class="mat-icon" aria-hidden="false" aria-label="Add plant">
                add
            </mat-icon>
        </a>
    </mat-grid-tile>
</mat-grid-list>