<div>
  <h3 mat-dialog-title>Crear nuevo huerto</h3>
  <div mat-dialog-content id="inputName">
    <p class="text-title">Nombre:</p>
    <mat-form-field appearance="fill">
      <mat-label>Nombre del huerto</mat-label>
      <input matInput [(ngModel)]="inputGardenName" type="text">
    </mat-form-field>
  </div>
  <div mat-dialog-content id="inputChoose">
    <label id="radio-group-label" class="text-title">Escoge una opción:</label>
    <mat-radio-group aria-labelledby="radio-group-label" class="example-radio-group" [(ngModel)]="inputChoosen">
      <mat-radio-button value="select">Selecciona un huerto</mat-radio-button>
      <mat-radio-button value="create">O crea uno nuevo</mat-radio-button>
    </mat-radio-group>
  </div>
  
  <div mat-dialog-content id="inputSelect" *ngIf="inputChoosen=='select'">
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="inputGardenSelect">
        <mat-option value="ensalada">Ensalada</mat-option>
        <mat-option value="aromaticas">Aromáticas</mat-option>
        <mat-option value="variado">Variado</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div mat-dialog-content id="inputSize" *ngIf="inputChoosen=='create'">
    <mat-form-field appearance="fill">
      <mat-label>Alto:</mat-label>
      <input matInput [(ngModel)]="inputGardenHeight" type="number" min="0.2" max="2" step="0.01"
      pattern="((0)(\.[2-9][0-9]?))|((1)(\.[0-9][0-9]?)?)|((2)(\.[0][0]?)?)">
      <span matSuffix>m</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Ancho:</mat-label>
      <input matInput [(ngModel)]="inputGardenWidth" type="number" min="0.2" max="2" step="0.01">
      <span matSuffix>m</span>
    </mat-form-field>
  </div>
  <span class="text-hint" *ngIf="inputChoosen=='select'">Selecciona un valor de la lista desplegable</span>
  <span class="text-hint" *ngIf="inputChoosen=='create'">Introduce un valor entre 0,2 y 2 metros</span>


  <div mat-dialog-actions id="buttons">
          <button mat-raised-button class="mat-focus-indicator mat-raised-button mat-button-base" mat-button
      (click)="cancelNewGarden()" color="primary" id="cancelNewGarden">CANCELAR</button>
          <button mat-raised-button class="mat-focus-indicator mat-raised-button mat-button-base mat-accent" mat-button
      (click)="saveNewGarden2()" [mat-dialog-close]="" cdkFocusInitial id="saveNewGarden">CREAR</button>

  </div>

  <span class="guest-user">Solo podrás crear un huerto si antes has iniciado sesión</span>
</div>