.background-bar {
  width: 100%;
  background-color: #b2c1cc;
  height: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
}
.div-seed {
  position: relative;
  display: block;
  left: 10px;
  height: 8px;
  border-radius: 4px;
  width: 50px;
  background-color: rgb(217, 188, 163);
}
