<main class="main-container">
    <div class="main-container-center">
            <section class="section-container-w100">
                <mat-card>
                    <mat-card-header>
                      <mat-card-title>
                        <h3>Listado de huertos</h3>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="not-logged">
                            <p>Aún no has iniciado sesión</p>
                        </div>
                        <app-garden-list></app-garden-list>
                    </mat-card-content>
                  </mat-card>



    </section>
    <section class="section-container-w100">
        <button mat-raised-button color="accent" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent">CREAR NUEVO HUERTO</button>
    </section>
    </div>
</main>
