<main class="main-container">
  <div class="main-container-center">

    <section class="section-container-w100" *ngIf="(auth.isAuthenticated$ | async) === false">
      <button mat-raised-button color="accent"
      class="mat-focus-indicator mat-raised-button mat-button-base mat-accent"
      (click)="loginWithRedirect()"
      *ngIf="(auth.isAuthenticated$ | async) === false">
      LOGIN
    </button>
    <span>También puedes seguir como invitado</span>
  </section>

  <section class="section-container-w100" *ngIf="auth.isAuthenticated$ | async">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>Listado de huertos</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="empty-list">
          <p>Aún no tienes huertos guardados</p>
        </div>
        <app-garden-list></app-garden-list>
      </mat-card-content>
    </mat-card>
  </section>

  <!-- <button mat-raised-button color="accent"
  class="mat-focus-indicator mat-raised-button mat-button-base mat-accent"
  (click)="logout()"
  *ngIf="auth.isAuthenticated$ | async">
  SALIR
</button> -->

<section class="section-container-w100">
  <button mat-raised-button color="accent"
  class="mat-focus-indicator mat-raised-button mat-button-base mat-accent">
  CREAR NUEVO HUERTO
</button>
</section>





  </div>
</main>