/* Import css */
@import 'assets/css/normalize.css';
@import '~@angular/material/_theming.scss';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';


/* Reset styles added by Angular Material */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Reset other styles not included in normalize */
a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}


/* Overwrite Material Theming */
@include mat-core();

$mat-myapp-primary: (
    50 : #ebf0f5,
    100 : #cfdae1,
    200 : #b2c1cc,
    300 : #94a7b6,
    400 : #7d94a5,
    500 : #668194,
    600 : #597283,
    700 : #495e6c,
    800 : #3b4b57,
    900 : #29363f,
    contrast: (
        50 : #001019,
        100 : #001019,
        200 : #001019,
        300 : #001019,
        400 : #001019,
        500 : #001019,
        600 : #ebf0f5,
        700 : #ebf0f5,
        800 : #ebf0f5,
        900 : #ebf0f5,
    )
);

$mat-myapp-accent: (
    50 : #F5EBEA,
    100 : #F4CFC6,
    200 : #EFB1A2,
    300 : #EA937F,
    400 : #E87E65,
    500 : #E76A4E,
    600 : #DD6449,
    700 : #CE5E44,
    800 : #BF5841,
    900 : #A24F3C,
    contrast: (
        50 : #001019,
        100 : #001019,
        200 : #001019,
        300 : #001019,
        400 : #001019,
        500 : #001019,
        600 : #001019,
        700 : #001019,
        800 : #001019,
        900 : #F5EBEA,
    )
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);



/* Other theming styles */ 
body {
    background-image: url(assets/bg/bg.png);
}
.darker-primary {
    background-color:#29363f !important;
    color: #ebf0f5 !important;
}
.navbar-shadow {
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);
}
button.mat-raised-button {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    font-size: 16px !important;
    font-weight: 800 !important;
    box-sizing: border-box;
    position: relative;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    min-width: 64px;
    line-height: 36px;
    padding: 8px 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    margin: 8px;
}
h2 {
    font: 48px 'Lobster', cursive !important;
}
h3 {
    font: 30px 'Lobster', cursive !important;
}
.display-none {
    display: none;
}
.w-100 {
    width: 100%;
}

/* Containers */
.main-container {
    height: 100%;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 98px 32px 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.second-container {
    width: 100%;
    background: #ebf0f5;
    border: 2px solid #001019;
    padding: 16px;
    border-radius: 4px;
    display: table-cell;
}
.section-container-w100 {
    width: 100%;
    text-align: center;
}


/* Floating menus */
mat-toolbar {
    position: fixed;
    left: 0;
    right: 0;
}
mat-toolbar.header-toolbar {
    top:0;
    z-index: 99;
}
mat-toolbar.section-toolbar {
    top:64px;
}

/* Tabs */
mat-tab-group .mat-tab-labels .mat-icon {
    margin-right: 8px;
}
mat-tab-group mat-tab-header {
    margin-bottom: 16px;
}

/* Modal window */
.modal-container{
    width: 100%;
    max-width: 400px;
    min-height: 540px;
    min-width: 300px;
    display: block;
    position: relative;
}
h3.mat-dialog-title {
    text-align: center;
}
mat-dialog-content, mat-dialog-actions{
    width: 100%;
}
mat-dialog-actions {
    justify-content: space-between;
}

/* Text */
.resume p {
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(102,129,148,0.5), 2px 2px 2px rgba(102,129,148,0.3);
}
.resume p:last-of-type{
    margin-bottom: 48px;
}
.resume p:first-of-type::first-letter{
    font-size: 40px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #29363f; 
  }