<!-- Available plants to seed -->
<h4>
    <mat-icon class="mat-icon" aria-hidden="false" aria-label="Plant icon">
        spa
    </mat-icon>
    <span>Puedes sembrar:</span>
</h4>
<div *ngIf="plantsList">
    <ng-container *ngFor="let plant of plantsList">
        <span *ngIf="fc.checkAvailable('seed',plant)">
            <a [routerLink]="['/plant-detail', plant.nameCommon]">{{plant.nameCommon}}</a>
            <span>, </span>
        </span>
    </ng-container>
</div>

<!-- Available plants to harvest -->
<h4>
    <mat-icon class="mat-icon" aria-hidden="false" aria-label="Basket icon">
        shopping_basket
    </mat-icon>
    <span>Puedes recolectar:</span>
</h4>
<div *ngIf="plantsList">
    <ng-container *ngFor="let plant of plantsList">
        <span *ngIf="fc.checkAvailable('harvest',plant)">
            <a [routerLink]="['/plant-detail', plant.nameCommon]">{{plant.nameCommon}}</a>
            <span>, </span>
        </span>
    </ng-container>
</div>